<!doctype html>
<html>
  <head>
    <title>Hello</title>
    <link rel="stylesheet" type="text/css"
	  href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body style="background-color: {{ bg_color }};">
    <div id="wrapper">
      <h1>shrink.this.url</h1>
      <form action="." method="post" name="form">
	<table>
	  <tr>
	    <td>
	      <input type="text" name="url" id="input_url" />
	    </td>
	    <td>
	      <input type="submit" value="Shrink it!" id="input_ok" />
	    </td>
	  </tr>
	</table>
      </form>
      {% if short_url %}
        <p>
	  And this is your short link:
          <em>
	    <a href="{{ config["SHORT_URL_PREFIX"] + short_url }}">{{
              config["SHORT_URL_PREFIX"] + short_url }}</a>
	    </em>
	</p>
      {% endif %}
      <hr />
      <footer>
	[ <a href="https://github.com/matthieucan/urlshortener/">view
	  source code</a> | 
	<a href="https://github.com/matthieucan/urlshortener/blob/master/COPYING">license</a>
	| <a href="http://matthieu.io">whoami</a> 
	]
      </footer>
    </div>
  </body>
</html>
