<!doctype html>
<html>
  <head>
    <title>Hello</title>
    <link rel="stylesheet" type="text/css"
	  href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body style="background-color: {{ bg_color }};">
    <div id="wrapper">
      <form action="." method="post" name="form">
	<table>
	  <tr>
	    <td>
	      <input type="text" name="url" id="input_url" />
	    </td>
	    <td>
	      <input type="submit" value="Shrink it!" id="input_ok" />
	    </td>
	  </tr>
	</table>
      </form>
      {% if short_url %}
        {{ config["SHORT_URL_PREFIX"] + short_url }}
      {% endif %}

    </div>
  </body>
</html>
